<footer>
    <a href="https://www.facebook.com/thomas.stieglmaier"><span class="symbol">facebook</span></a>
    <a href="https://plus.google.com/+StieglmaierThomas"><span class="symbol">googleplus</span></a>
    <a href="https://twitter.com/stieglma"><span class="symbol">twitterbird</span></a>
    <a href="https://www.xing.com/profile/Thomas_Stieglmaier"><span class="symbol">xing</span></a>
    <a href="https://www.linkedin.com/pub/thomas-stieglmaier/97/6a9/816"><span class="symbol">linkedin</span></a>
    <a href="https://github.com/stieglma"><span class="symbol">githubalt</span></a>
</footer>
